/* Style */

:root {
  --backgroundColor: #e7eff6;
  --cardColor: #adcbe3;
  --textColor: #2a4d69;
  --toggleColor: #4b86b4;  
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--textColor);
}

html,
body {
  background: var(--backgroundColor);
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

main {
  background: var(--cardColor);
  width: 50%;
  height: 50%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
  text-align: left;
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(5, 1fr);
  grid-template-areas: "location location" "weather temperature" "weather humidity" "weather windSpeed" "weather windDirection" "weatherText weatherText" "toggleMetric toggleMetric";
}

#location {
  grid-area: location;
  font-size: 2rem;
  margin: auto;
  text-align: center;
}

#weather {
  grid-area: weather;
  font-size: 9rem;
  margin: auto;
}

#temperature {
  grid-area: temperature;
  font-size: 2rem;
  margin: auto;
}

#humidity {
  grid-area: humidity;
  font-size: 2rem;
  margin: auto;
}

#windSpeed {
  grid-area: windSpeed;
  font-size: 2rem;
  margin: auto;
}

#windDirection {
  grid-area: windDirection;
  font-size: 2rem;
  margin: auto;
}

#weatherText {
  grid-area: weatherText;
  font-size: 1rem;
  margin: auto;
  padding: 5px;
  text-align: center;
}

#weatherText p:first-letter {
  text-transform: capitalize;
}

#toggleMetric {
  grid-area: toggleMetric;
  margin: auto;
}

header {
  width: 100%;
  background: var(--cardColor);
  text-align: center;
}

footer {
  width: 100%;
  background: var(--cardColor);
  text-align: center;
  font-size: 1rem;
}

footer p {
  padding: 5px;
}

a {
  color: var(--textColor);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #weather {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 500px) {
  main {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    grid-template-areas: "location location" "weather temperature" "weather humidity" "windSpeed windDirection" "weatherText weatherText" "toggleMetric toggleMetric";
  }
  header {
    border-bottom: 1px dashed var(--textColor);
  }
  footer {
    border-top: 1px dashed var(--textColor);
  }
}

@media only screen and (max-height: 500px) {
  :root {
    font-size: 14px;
  }
  main {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    grid-template-areas: "location location" "weather temperature" "weather humidity" "weather windSpeed" "weather windDirection" "weatherText weatherText" "toggleMetric toggleMetric";
  }
}

/* Toggle switch, from: https://proto.io/freebies/onoff/ */

.onoffswitch {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--textColor);
  border-radius: 5px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: var(--backgroundColor);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "\2103";
  padding-left: 10px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.onoffswitch-inner:after {
  content: "\2109";
  padding-right: 10px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 21px;
  margin: 4.5px;
  background: var(--toggleColor);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 36px;
  border: 2px solid var(--textColor);
  border-radius: 5px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}